.env
.venv
venv/
app.log
.DS_Store


data/pdf/*
data/md/*
data/document_store/*
data/vector_store/*
output/*
*.log
*.tmp

# --- Python Cache ---
# This single line ignores all __pycache__ directories at any level.
__pycache__/
# Ignore compiled Python files
*.pyc
*.py[cod]
*.pyo

# --- Jupyter Notebook ---
# Ignore the checkpoint directories created by Jupyter.
.ipynb_checkpoints/

# --- IDEs and OS-specific files ---
.idea/
.vscode/
.DS_Store
Thumbs.db

volumes/*

# --- Jupyter Notebook ---
# Ignore the checkpoint directories created by Jupyter.
.ipynb_checkpoints/
notebooks/
scripts/

src/ui/
src/core/
src/data/vector_store/